{% extends "base.html" %}

{% load static %}

{% block main-content %}
<section class="section-content padding-y">

    <!-- ============================ COMPONENT REGISTER   ================================= -->
        <div class="card mx-auto" style="max-width:520px; margin-top:40px;">
          <article class="card-body">
            
            <header class="mb-4"><h4 class="card-title">Sign up</h4></header>
            <form action="{% url 'register' %}" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                    <div class="form-row">
                        <div class="col form-group">
                            <label>First name</label>
                              {{ registration_form.first_name }}
                        </div> <!-- form-group end.// -->
                        <div class="col form-group">
                            <label>Last name</label>
                              {{ registration_form.last_name }}
                        </div> <!-- form-group end.// -->
                    </div> <!-- form-row end.// -->
                    <div class="form-row">
                        <div class="form-group col-md-6">
                          <label>Email Address</label>
                          {{ registration_form.email }}
                        </div> <!-- form-group end.// -->
                        <div class="form-group col-md-6">
                          <label>Phone Number</label>
                          {{ registration_form.phone_number }}
                        </div> <!-- form-group end.// -->
                    </div> <!-- form-row.// -->
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label>Create password</label>
                            {{ registration_form.password }}
                        </div> <!-- form-group end.// --> 
                        <div class="form-group col-md-6">
                            <label>Repeat password</label>
                            {{ registration_form.re_password }}
                        </div> <!-- form-group end.// -->  
                    </div>
                    <div class="form-group">
                      <label>Address Line 1</label>
                      {{ profile_form.address_line_1 }}
                  </div>
                  <div class="form-group">
                      <label>Address Line 2</label>
                      {{ profile_form.address_line_2 }}
                  </div>
                  <div class="form-group">
                      <label>City</label>
                      {{ profile_form.city }}
                  </div>
                  <div class="form-group">
                      <label>State</label>
                      {{ profile_form.state }}
                  </div>
                  <div class="form-group">
                      <label>Country</label>
                      {{ profile_form.country }}
                  </div>
                  <div class="form-group">
                    <input type="file" name="profile_picture">
                  </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-dark btn-block"> Register  </button>
                    </div> <!-- form-group// --> 
                    {% if messages %}
              <div class="messages">
                {% for message in messages %}
                  <div id="message" class="container">
                    <div {% if message.tags %} class="alert alert-{{message.tags}}" {% endif %} role="alert" >
                        <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">x</span></button>
                            {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}Important: {% endif %}
                            {{message}}
                    </div>
                  </div>
                {% endfor %}
              </div>
            {% endif %}
                </form>
            </article><!-- card-body.// -->
        </div> <!-- card .// -->
        <p class="text-center mt-4">Have an account? <a href="{% url 'login' %}">Log In</a></p>
        <br><br>
    <!-- ============================ COMPONENT REGISTER  END.// ================================= -->
    
    
    </section>
    <!-- ========================= SECTION CONTENT END// ========================= -->
{% endblock main-content %}

