{% extends "base.html" %}

{% load static %}

{% block main-content %}
<section class="section-content padding-y">
    <!-- ============================ COMPONENT REGISTER   ================================= -->
        <div class="card mx-auto" style="max-width:520px; margin-top:40px;">
          <article class="card-body">
            
            <header class="mb-4"><h4 class="card-title">Create New Password</h4></header>
            <form action="{% url 'resetPassword' %}" method="POST">
                {% csrf_token %}
                    <div class="form-row">
                        <div class="col form-group">
                            <input placeholder="Password" type="password" class="form-control" name="password">
                        </div>
                    </div> <!-- form-row end.// -->
                    <div class="form-row">
                        <div class="col form-group">
                            <input placeholder="Re password" type="password" class="form-control" name="re_password">
                        </div>
                    </div> <!-- form-row end.// -->
                    <div class="form-group">
                        <button type="submit" class="btn btn-dark btn-block"> Reset  </button>
                    </div> <!-- form-group// -->      
                    {{ form.email.errors }}
                    {{ form.phone_number.errors }}
                    {{ form.non_field_errors }}
            {% if messages %}
              <div class="messages">
                {% for message in messages %}
                  <div id="message" class="container">
                    <div {% if message.tags %} class="alert alert-{{message.tags}}" {% endif %} role="alert" >
                        <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">x</span></button>
                            {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}Important: {% endif %}
                            {{message}}
                    </div>
                  </div>
                {% endfor %}
              </div>
            {% endif %}
                </form>
            </article><!-- card-body.// -->
        </div> <!-- card .// -->
        <br><br>
    <!-- ============================ COMPONENT REGISTER  END.// ================================= -->
    
    </section>
    <!-- ========================= SECTION CONTENT END// ========================= -->
{% endblock main-content %}

