.rate > input {
    display: none;
}

.rate {
    display: inline-block;
    border: 0;
    position: relative; /* Sử dụng position: relative để tạo ngữ cảnh cho các sao */
}

.rate > label {
    float: right;
    position: relative; /* Sử dụng position: relative để tạo ngữ cảnh cho các label */
}

.rate > label:before {
    display: inline-block;
    font-size: 1.1rem;
    font-family: FontAwesome;
    content: "\f005";
    margin: 0;
    padding: 0.3rem .2rem;
    cursor: pointer;
}

.rate .half:before {
    content: "\f089";
    position: absolute; /* Sử dụng position: absolute để đặt các sao "half" */
    top: 0; /* Đặt vị trí ở trên cùng của sao cha */
    left: 0; /* Đặt vị trí ở bên trái của sao cha */
}

input:checked ~ label,
label:hover ~ label {
    color: #ffb503;
}
